*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #222;
  padding: 250px;
}

.button{
  position: relative;
  text-align: center;
  font-family: arial;
  color: white;
  padding: 20px 0;
  border-radius: 5px;
  transform: rotate(0);
  overflow: hidden;
}

.button::before{
  content:"";
  background-image: conic-gradient(from 45deg,black ,black, purple , yellow, blue);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: -1;
  animation-name: border;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 200%;
  aspect-ratio: 1 / 1;
}

.button::after{
  content: "";
  background-color: #222;
  position: absolute;
  border-radius: 5px;
  inset: 3px;
  z-index: -1;
}

@keyframes border {
  to{
    transform: translate(-50%, -50%)  rotate(360deg); 
    
  }
}
