.conteiner
{
    margin: auto;
    max-width: 900px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu
{
    list-style-type: none;
    font-size: 22px;

    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.menu > li
{
    background-color: rgba(0, 0, 0, 0.61);
    position: relative;
    color: white;
    padding: 5px 16px;
    border-radius: 5px;
}

.menu li:hover
{
    background-color: black;
    cursor: pointer;
}

.subMenu
{
    position: absolute;
    left: 0;
    top: 110%;
    background-color: black;
    list-style-type: none;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    display: none;
}

.menu_aberto{
    display: block;
}